<!-- Sidebar -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="sidebar sidebar-style-2" data-background-color="dark2">

	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							{{ current_user.user }}
							<span class="user-level">
								{{ current_user.email }}
							</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="profile.html">
									<span class="profile">Trang cá nhân</span>
								</a>
							</li>
							<li>
								<a href={{ url_for('logout') }}>
									<span class="link-collapse">Đăng xuất</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="hmenu">
				<ul class="nav nav-primary">
					<li class="nav-item">
						<a href="index.html">
							<i class="fas fa-home"></i>
							<p>Trang chủ</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="users.html">
							<i class="fas fa-users"></i>
							<p>Quản lý người dùng</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="managercompany.html">
							<i class="fas fa-hotel"></i>
							<p>Quản lý công ty</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="managercamera.html">
							<i class="
									fas fa-camera"></i>
							<p>Quản lý camera</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="managerlog.html">
							<i class="fas fa-desktop"></i>
							<p>Quản lý nhật kí</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="timesheet.html">
							<i class="fas fa-bookmark"></i>
							<p>Quản lý lịch sử ra / vào</p>
						</a>
					</li>

					<li class="nav-item">
						<a href="managerbranch.html">
							<i class="fas fa-map-marker-alt"></i>
							<p>Quản lý chi nhánh</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="manager-camera-company.html">
							<i class="fas fa-camera"></i>
							<p>Quản lý camera công ty</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="managertime.html">
							<i class="fas fa-clock"></i>
							<p>Quản lý thời gian</p>
						</a>
					</li>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Sidebar -->


<!-- Active menu -->
<script>
	$(document).ready(function () {
		$('.hmenu').find('li').click(function (event) {
			var $par = $(event.target).parents("li");
			$(".hmenu .active").not($par).removeClass("active");
			$(this).addClass('active');
		});
			$('.hmenu a').parent().removeClass('active');
			let pathname = window.location.pathname;
			if(pathname) {
				$('.hmenu a[href="'+pathname.slice(1)+'"]').parent().addClass('active');
			}
	
	});
</script>